<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Publicación</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Editar Publicación</h1>
        <form action="/publicaciones/actualizar" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" th:value="${publicacion.id}">
            <div class="form-group">
                <label for="titulo">Título</label>
                <input type="text" class="form-control" name="titulo" th:value="${publicacion.titulo}" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea class="form-control" name="descripcion" rows="3" required th:text="${publicacion.descripcion}"></textarea>
            </div>
            <div class="form-group">
                <label for="edad">Edad</label>
                <input type="number" class="form-control" name="edad" th:value="${publicacion.edad}" required>
            </div>
            <div class="form-group">
                <label for="imagenFile">Imagen</label>
                <input type="file" class="form-control-file" name="imagenFile">
                <img th:src="@{${publicacion.imagenPath}}" alt="Imagen de la Publicación" class="img-fluid mt-2">
            </div>
            <div class="form-group">
                <label for="videoFile">Video</label>
                <input type="file" class="form-control-file" name="videoFile">
                <video th:src="@{${publicacion.videoPath}}" controls class="img-fluid mt-2"></video>
            </div>
<!--            /*<div class="form-group">
                <label for="uploadDir">Directorio de almacenamiento (opcional)</label>
                <input type="text" class="form-control" name="uploadDir" placeholder="Ejemplo: C:/ruta/personalizada/">
            </div>-->
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Actualizar</button>
                <a href="/publicaciones/listar" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</body>
</html>
